<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="botao">
      <ion-button fill="clear" color="light" (click)="inicio()">Voltar
        <ion-icon slot="start" name="chevron-back" color="light"></ion-icon>
      </ion-button>
    </div>
    <div class="text">
      <ion-title>Perfil</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <ion-avatar class="imagem">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <div class="nome">
      <ion-label>variavel nome completo</ion-label>
    </div>
    <div class="info">
    </div>
  </div>
</ion-content>