<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title align="center">Menu</ion-title>
    </ion-toolbar>
    <ion-button expand="full" color="primary" (click)="perfil()">Perfil
      <ion-icon slot="start" name="person"></ion-icon>
    </ion-button>
    <ion-button expand="full" color="primary">Favoritos
      <ion-icon slot="start" name="heart"></ion-icon>
    </ion-button>
    <ion-button expand="full" color="primary">Simulados
      <ion-icon slot="start" name="reader"></ion-icon>
    </ion-button>
    <ion-button expand="full" color="primary">Configurações
      <ion-icon slot="start" name="cog"></ion-icon>
    </ion-button>
    <ion-button expand="full" color="primary" (click)="home()">Sair
      <ion-icon slot="start" name="log-out"></ion-icon>
    </ion-button>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>

<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title size="" align="center">Inicio</ion-title>
      </ion-toolbar>
      <ion-button fill="outline" expand="block" size="large" shape="round" color="primary"
        (click)="criarsimulado()">Novo Simulado</ion-button>
      <ion-searchbar color="light" animated="true" show-clear-button="always"></ion-searchbar>
      <ion-card color="primary">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Lógica de Programação</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-button fill="outline" shape="round" color="light">Acessar</ion-button>
        <ion-button fill="outline" shape="round" color="light">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
      </ion-card>

      <ion-card color="primary">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Banco de Dados</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-button fill="outline" shape="round" color="light">Acessar</ion-button>
        <ion-button fill="outline" shape="round" color="light">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
      </ion-card>

      <ion-card color="primary">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-button fill="outline" shape="round" color="light">Acessar</ion-button>
        <ion-button fill="outline" shape="round" color="light">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-header>
  </div>
</ion-content>
